@font-face {
    font-family: TTLakes-Medium;
    src: url("/fonts/TTLakes/TTLakes-Medium.woff");
}

@font-face {
    font-family: TTLakes-Bold;
    src: url("/fonts/TTLakes/TTLakes-Bold.woff");
}

.header {
    min-width: 288px;
    max-width: 100%;
    padding: 16px;
    background-image: linear-gradient(to right, #F8F8F8,#FFFFFF);
}

.title {
    min-width: 288px;
    max-width: 735px;
    height: 48px;
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 1.5em;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    color: #7E7E82;
}

.main {
    min-width: 336px;
    max-width: 100%;
    min-height: 154px;
    padding-top: 16px;
    padding-left: 16px;
    background-color: #F8F8F8;
}

.swiper-container {
    min-width: 330px;
    max-width: 668px;
}

.card {
    max-width: 208px;
    min-width: 165px;
    height: 40px;
    padding: 16px;
    background-color: #FFFFFF;
    border: solid #EAEAEA 1px;
    border-radius: 7px;
}

.card__brand {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.swiper-slide {
    opacity: 0.5;
    transition: 0.5s;
}

.swiper-slide-active {
    opacity: 1;
    transition: 0.5s;
}

.swiper-pagination {
    position: relative;
    height: 44px;
    top: 16px;
    margin-left: -24px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}

.section {
    display: none;
}

.btn {
    display: none;
}

/* .swiper-button-next,
.swiper-button-prev {
    background-color: #DDD;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 0px #DDD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
} */

@media (min-width: 768px) and (max-width: 1119px) {
    .header {
        min-width: 736px;
        max-width: 1071px;
        padding: 16px 24px;
    }

    .main {
        min-width: 720px;
        max-width: 1071px;
        height: 100%;
        padding: 24px;
        padding-right: 38px;
    }

    .slider-container {
        display: none;
    }
    .section {
        /* max-height: 162px; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 24px;
    }

    .section--interval {
        height: 16px;
    }

    .card__brand {
        min-width: 192px;
        height: 40px;
        padding: 16px;
        background-color: #FFFFFF;
        border: solid #EAEAEA 1px;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        background-color: transparent;
        border: solid 0px transparent;
    }

    .btn--down {
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
    }

    .btn--up {
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.49992 10.4999L3.99992 7.99992L6.49992 10.4999C6.77607 10.7761 7.22378 10.7761 7.49992 10.4999C7.77607 10.2238 7.77607 9.77607 7.49992 9.49992L4.70703 6.70703C4.31651 6.31651 3.68334 6.31651 3.29282 6.70703L0.499924 9.49993C0.223781 9.77607 0.223781 10.2238 0.499924 10.4999C0.776066 10.7761 1.22378 10.7761 1.49992 10.4999ZM1.49992 4.49992L3.99992 1.99992L6.49992 4.49992C6.77607 4.77607 7.22378 4.77607 7.49992 4.49992C7.77607 4.22378 7.77607 3.77607 7.49992 3.49992L4.70703 0.707032C4.31651 0.316508 3.68334 0.316507 3.29282 0.707031L0.499924 3.49993C0.223781 3.77607 0.223781 4.22378 0.499924 4.49993C0.776066 4.77607 1.22378 4.77607 1.49992 4.49992Z' fill='%2341F6D7'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
    }

    .btn--text {
        font-family: TTLakes-Bold;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .modal {
        display: none;
    }

    .modal--show {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 16px 24px;
      }
      
      .for--large {
        display: none;
      }

      .section--interval {
        display: none;
      }
}


@media (min-width: 1120px) {
    .header {
        min-width: 1180px;
        padding: 16px 32px;
    }

    .main {
        min-width: 1158px;
        padding: 32px;
        padding-right: 54px;
    }

    .slider-container {
        display: none;
    }
    .section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 32px;
    }

    .section--interval {
        height: 16px;
    }

    .card__brand {
        min-width: 192px;
        height: 40px;
        padding: 16px;
        background-color: #FFFFFF;
        border: solid #EAEAEA 1px;
        border-radius: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 24px;
        background-color: transparent;
        border: solid 0px transparent;
    }

    .btn--down {
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
    }

    .btn--up {
        width: 24px;
        height: 24px;
        background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.49992 10.4999L3.99992 7.99992L6.49992 10.4999C6.77607 10.7761 7.22378 10.7761 7.49992 10.4999C7.77607 10.2238 7.77607 9.77607 7.49992 9.49992L4.70703 6.70703C4.31651 6.31651 3.68334 6.31651 3.29282 6.70703L0.499924 9.49993C0.223781 9.77607 0.223781 10.2238 0.499924 10.4999C0.776066 10.7761 1.22378 10.7761 1.49992 10.4999ZM1.49992 4.49992L3.99992 1.99992L6.49992 4.49992C6.77607 4.77607 7.22378 4.77607 7.49992 4.49992C7.77607 4.22378 7.77607 3.77607 7.49992 3.49992L4.70703 0.707032C4.31651 0.316508 3.68334 0.316507 3.29282 0.707031L0.499924 3.49993C0.223781 3.77607 0.223781 4.22378 0.499924 4.49993C0.776066 4.77607 1.22378 4.77607 1.49992 4.49992Z' fill='%2341F6D7'/%3e%3c/svg%3e ");
        background-position: center;
        background-repeat: no-repeat;
    }

    .btn--text {
        font-family: TTLakes-Bold;
        font-size: 16px;
        line-height: 1.5em;
        letter-spacing: -0.2px;
        color: #1B1C21;
    }

    .modal {
        display: none;
    }

    .modal--show {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px 32px;
      }

      .for--middle {
        display: none;
      }
}