@font-face {
    font-family: TTLakes-Bold;
    src: url("/fonts/TTLakes/TTLakes-Bold.woff");
}

@font-face {
    font-family: TTLakes-Light;
    src: url("/fonts/TTLakes/TTLakes-Light.woff");
}

@font-face {
    font-family: TTLakes-Medium;
    src: url("/fonts/TTLakes/TTLakes-Medium.woff");
}

.header {
    background-color: #FFFFFF;
    min-width: 320px;
}

.nav {
    margin-left: auto;
    margin-right: 32px;
    margin-top: 18.59px;
    margin-right: auto;
    margin-bottom: 18.59px;
    min-width: 336px;
    max-width: 767px;
    max-height: 88px;
    display: flex;
    justify-content: space-between;
    
}

.for-middle {
    display: none;
}

.for-large {
    display: none;
}

.leftnav {
    min-width: 186px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.rightnav {
    margin-right: 16px;
    min-width: 134px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .leftnav__item {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='20' fill='%23FF3E79'/%3e%3c/svg%3e ");
    vertical-align: middle;
    background-repeat: no-repeat;
}

.rightnav__item {
    width: 40px;
    height: 40px;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='20' fill='%23FF3E79'/%3e%3c/svg%3e ");
    vertical-align: middle;
    background-repeat: no-repeat;
} */

.item__menu {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0 1C0 0.447715 0.447715 0 1 0H17C17.5523 0 18 0.447715 18 1C18 1.55228 17.5523 2 17 2H1C0.447716 2 0 1.55228 0 1ZM0 8C0 7.44772 0.447715 7 1 7H9C9.55228 7 10 7.44772 10 8C10 8.55229 9.55229 9 9 9H1C0.447715 9 0 8.55229 0 8ZM1 14C0.447715 14 0 14.4477 0 15C0 15.5523 0.447716 16 1 16H13C13.5523 16 14 15.5523 14 15C14 14.4477 13.5523 14 13 14H1Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
}

.item__call{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHZpZXdCb3g9IjAgMCAxOCAxOCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4NCjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMS43NjAxOSAxMi4yNUw0LjMwMDE5IDExLjk2QzQuOTEwMTkgMTEuODkgNS41MTAxOSAxMi4xIDUuOTQwMTkgMTIuNTNMNy43ODAxOSAxNC4zN0MxMC42MTAyIDEyLjkzIDEyLjkzMDIgMTAuNjIgMTQuMzcwMiA3Ljc4TDEyLjUyMDIgNS45M0MxMi4wOTAyIDUuNSAxMS44ODAyIDQuOSAxMS45NTAyIDQuMjlMMTIuMjQwMiAxLjc3QzEyLjM2MDIgMC43NiAxMy4yMTAyIDAgMTQuMjMwMiAwSDE1Ljk2MDJDMTcuMDkwMiAwIDE4LjAzMDIgMC45NCAxNy45NjAyIDIuMDdDMTcuNDMwMiAxMC42MSAxMC42MDAyIDE3LjQzIDIuMDcwMTkgMTcuOTZDMC45NDAxOTMgMTguMDMgMC4wMDAxOTQ1NSAxNy4wOSAwLjAwMDE5NDU1IDE1Ljk2VjE0LjIzQy0wLjAwOTgwNTY4IDEzLjIyIDAuNzUwMTkzIDEyLjM3IDEuNzYwMTkgMTIuMjVaIiBmaWxsPSJ3aGl0ZSIvPg0KPC9zdmc+DQo=");
    background-position: center;
    background-repeat: no-repeat;
}

.item__chat{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='20' fill='%23FF3E79'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12C10.9 11 10.01 11.9 10.01 13L10 31L14 26H28C29.1 26 30 25.1 30 24V13C30 11.9 29.1 11 28 11ZM21 22H15C14.45 22 14 21.55 14 21C14 20.45 14.45 20 15 20H21C21.55 20 22 20.45 22 21C22 21.55 21.55 22 21 22ZM25 17H15C14.45 17 14 16.55 14 16C14 15.45 14.45 15 15 15H25C25.55 15 26 15.45 26 16C26 16.55 25.55 17 25 17Z' fill='white'/%3e%3cmask id='mask0_0_1880' style='mask-type:luminance' maskUnits='userSpaceOnUse' x='10' y='11' width='20' height='20'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M28 11H12C10.9 11 10.01 11.9 10.01 13L10 31L14 26H28C29.1 26 30 25.1 30 24V13C30 11.9 29.1 11 28 11ZM21 22H15C14.45 22 14 21.55 14 21C14 20.45 14.45 20 15 20H21C21.55 20 22 20.45 22 21C22 21.55 21.55 22 21 22ZM25 17H15C14.45 17 14 16.55 14 16C14 15.45 14.45 15 15 15H25C25.55 15 26 15.45 26 16C26 16.55 25.55 17 25 17Z' fill='white'/%3e%3c/mask%3e%3cg mask='url(%23mask0_0_1880)'%3e%3c/g%3e%3c/svg%3e ");vertical-align: middle;
    background-position: center;
    background-repeat: no-repeat;
}

.item__profile{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='18' viewBox='0 0 20 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M10.5 9C12.9853 9 15 6.98528 15 4.5C15 2.01472 12.9853 0 10.5 0C8.01472 0 6 2.01472 6 4.5C6 6.98528 8.01472 9 10.5 9Z' fill='white'/%3e%3cpath d='M0.0165859 16.6118C-0.113065 17.3412 0.535191 18 1.33903 18H18.6604C19.4902 18 20.1125 17.3412 19.9829 16.6118C19.2309 12.4 15.0561 10 9.99973 10C4.94333 10 0.768563 12.4 0.0165859 16.6118Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
}

.item__settings{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8.25807 13.4583L8.66685 13.0494L6.94998 11.3322L6.54121 11.7411L6.33682 11.5367C6.0098 11.1687 5.68278 10.9643 5.35575 11.0052C5.11049 11.0052 4.9061 11.1687 4.74259 11.414C4.49732 11.8229 4.61996 12.2726 4.66083 12.5588C4.66083 12.6406 4.70171 12.6815 4.70171 12.7632C4.70171 12.8859 4.70171 13.0494 4.41557 13.0903C4.00679 13.213 3.47538 13.3356 2.94397 13.6218C2.20817 14.0307 1.71764 14.3987 1.4315 14.7666C-0.0809772 16.7291 0.000778159 18.4055 0.000778159 18.4872C0.000778159 18.6099 0.0416558 18.6917 0.123411 18.7325L1.22711 19.8773C1.30886 19.9591 1.39062 20 1.47237 20C1.47237 20 1.51325 20 1.59501 20C2.00378 20 3.47538 19.9182 5.19224 18.569C5.56014 18.2828 5.92804 17.7922 6.33682 17.0562C6.62296 16.5656 6.78647 16.0341 6.86823 15.5844C6.94998 15.2982 7.07262 15.2982 7.19525 15.2982C7.23613 15.2982 7.31788 15.339 7.39964 15.339C7.56315 15.3799 7.72666 15.4208 7.93105 15.4208C8.13544 15.4208 8.33983 15.3799 8.54421 15.2573C8.78948 15.0937 8.95299 14.8893 8.99387 14.644C9.03475 14.3169 8.87123 13.9898 8.50334 13.7036L8.25807 13.4583Z' fill='white'/%3e%3cpath d='M16.884 4.87841L18.0188 4.32603C18.0609 4.28354 18.1449 4.24105 18.1869 4.19856L19.9101 1.86157C20.0362 1.69161 20.0362 1.43667 19.8681 1.3092L18.6913 0.119458C18.5652 -0.00801422 18.313 -0.0505049 18.1449 0.076967L15.8333 1.81908C15.7913 1.86157 15.7493 1.90406 15.7072 1.98905L15.1609 3.13629L11 7.21539L12.7652 9L16.884 4.87841Z' fill='white'/%3e%3cpath d='M17.8527 13.0448C16.8636 12.0036 15.4393 11.6288 14.0941 12.0036L7.64527 5.17331C7.72439 4.79848 7.76396 4.46529 7.76396 4.09046C7.76396 3.04926 7.36832 2.00806 6.61661 1.21675C5.58796 0.0922529 4.04498 -0.282579 2.6207 0.217197C2.54157 0.258845 2.42288 0.383789 2.38331 0.550381C2.38331 0.675325 2.42288 0.800269 2.50201 0.925213L4.44062 2.96597C4.87582 3.42409 4.87582 4.21541 4.44062 4.67353C4.00542 5.13166 3.25371 5.13166 2.81851 4.67353L0.8799 2.63278C0.76121 2.54949 0.642519 2.50784 0.484265 2.54949C0.365574 2.54949 0.246884 2.67443 0.20732 2.79937C-0.267442 4.25705 0.0886295 5.88133 1.11728 6.96417C1.82943 7.75549 2.85808 8.17197 3.88673 8.17197C4.20324 8.17197 4.55931 8.13032 4.87582 8.04702L11.3642 14.8773C11.0082 16.2933 11.4038 17.7927 12.3533 18.8339C13.105 19.6252 14.0546 20 15.0832 20C15.5184 20 15.914 19.9167 16.3492 19.7918C16.4679 19.7501 16.5866 19.6252 16.6262 19.5002C16.6658 19.3753 16.6262 19.2087 16.5075 19.1254L14.5689 17.0846C14.3711 16.8764 14.2128 16.5432 14.2128 16.21C14.2128 15.8768 14.3315 15.5853 14.5689 15.3354C14.8063 15.0855 15.0832 14.9606 15.3997 14.9606C15.7162 14.9606 15.9932 15.0855 16.2306 15.3354L18.1692 17.3762C18.2879 17.4595 18.4065 17.5011 18.5252 17.5011C18.6439 17.4595 18.7626 17.3762 18.8022 17.2512C18.9209 16.8348 19 16.3766 19 15.9185C19 14.8356 18.6044 13.7944 17.8527 13.0448Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
    }

.item__search{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #FF3E79;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='40' height='40' viewBox='0 0 40 40' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='40' height='40' rx='20' fill='%23FF3E79'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M12 11C12 10.4477 12.4477 10 13 10H27C27.5523 10 28 10.4477 28 11V28.5C27.1716 28.5 26.5001 29.1715 26.5 29.9999H25.5C25.4999 29.1715 24.8284 28.5 24 28.5C23.1716 28.5 22.5001 29.1715 22.5 29.9999H21.5C21.4999 29.1715 20.8284 28.5 20 28.5C19.1716 28.5 18.5001 29.1715 18.5 29.9999H17.5C17.4999 29.1715 16.8284 28.5 16 28.5C15.1716 28.5 14.5001 29.1715 14.5 29.9999H13.5C13.4999 29.1715 12.8284 28.5 12 28.5V11ZM21.4164 21.7884C20.5536 22.3444 19.4704 22.5936 18.3296 22.3827C16.5275 22.0472 15.0896 20.5327 14.8595 18.7114C14.4952 15.8261 16.9493 13.4201 19.8538 13.8802C21.656 14.1678 23.1035 15.644 23.4007 17.4365C23.5828 18.5485 23.324 19.5741 22.7872 20.4273L24.8961 22.5265C25.2699 22.9004 25.2699 23.5138 24.8961 23.8877C24.5126 24.2711 23.8991 24.2711 23.5253 23.8973L21.4164 21.7884ZM16.7059 18.0588C16.7059 16.76 17.76 15.7059 19.0588 15.7059C20.3576 15.7059 21.4118 16.76 21.4118 18.0588C21.4118 19.3576 20.3576 20.4118 19.0588 20.4118C17.76 20.4118 16.7059 19.3576 16.7059 18.0588Z' fill='white'/%3e%3c/svg%3e ");
    background-position: center;
    background-repeat: no-repeat;
}


.main {
    min-width: 336px;
    background-color: #F8F8F8;
}

.content {
    padding-left: 16px;
    padding-right: 16px;
}

.title {
    padding-top: 24px;
    background-image: url("images/serv-icon.svg");
    background-repeat: no-repeat;
    background-position:0 24px;
    height: 88px;
    font-size: 28px;
    line-height: 40px;
    font-family: TTLakes-Bold;
    letter-spacing: -0.6px;
    text-align: left;
    align-items: center;
    padding: auto 0;
}

h1 {
    margin-left: 16px;
}

.menu {
    max-width: 100%;
    display: flex;
    margin-bottom: 24px;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.menu__item {
    max-width: 246px;
    max-height: 40px;
    padding: 8px 9.3px 8px 16.5px;
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    white-space: nowrap;
    color: #7E7E82;
    text-decoration: none;
}

.menu__item:last-child {
    margin-right: 16px;
}

.menu__item:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    transition-delay: 0.15s;
}

.description__text {
    max-width: 100%;
    margin-bottom: 16px;
    font-family: TTLakes-Light;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}

.description__btn { 
    margin-bottom: 16px;
    border: none; 
    outline: none; 
    background-color: #F8F8F8;
    display: flex;
    align-items: center;
    color: #1B1C21;
    font-family: TTLakes-Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
}

.description__btn:hover {
    border: 2px solid #B8FFEC;
    border-radius: 6px;
    background-color: #FFFFFF;
    transition-delay: 0.15s;
}

.description {
    display: flex;
    flex-direction: column;
}

.block1 {
    max-width: 100%;
}

.block2 {
    max-width: 100%;
    background-image: url('images/logitype.jpg') no-repeat center center / cover;
}





@media (min-width: 768px) and (max-width: 1119px) {
    .header {
        min-width: 768px;
    }
    
    .nav {
        min-width: 768px;
        max-width: 1119px;   
    }
    
    .for-middle {
        display: block;
    }
    
    .leftnav {
        min-width: 227px;
    }
    
    .rightnav {
        min-width: 330px;
    }

    .main {
        min-width: 768px;
    }
    
    .content {
        padding-left: 24px;
        padding-right: 24px;
    }

    h1 {
        margin-left: 24px;
    }
    
    .menu {
        margin-bottom: 32px;
    }
    
    .menu__item {
        max-width: 248px;
    }
    
    .menu__item:last-child {
        margin-right: 0px;
    }

    .description {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .block1 {
        max-width: 80%;
    }
    
    .block2 {
        min-width: 360px;
        min-height: 208px;
        margin-right: 24px; 
        margin-bottom: 40px;
    }
}

@media (min-width: 1120px) {
    .header {
        background-color: #F8F8F8;
        min-width: 1120px;
    }
    
    .nav {
        display: none;
    }
    
    .for-large {
        display: block;
    }

    .main {
        min-width: 1120px;
        background-color: #F8F8F8;
    }
    
    .content {
        padding-left: 32px;
        padding-right: 32px;
    }

    .main__header {
        min-height: 90px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

    .main__nav {
        min-width: 432px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .nav__item {
        min-width: 168px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-decoration: none;
        color: #1B1C21;
        font-family: TTLakes-Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
    }

    .title {
        height: 40px;
    }
    
    h1 {
        margin-left: 32px;
    }

    .menu {
        margin-top: 8px;
        margin-bottom: 15px;
    }
    
    .menu__item {
        max-width: 254px;
    }
    
    .menu__item:last-child {
        margin-right: 32px;
    }

    .feedback {
        margin-left: 32px;
        margin-bottom: 16px;
        max-width: 95px;
        max-height: 40px;
        font-family: TTLakes-Medium;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.2px;
        white-space: nowrap;
        color: #7E7E82;
        text-decoration: none; 
        text-align: center;
    }
        
        
    .feedback:hover {
        border: 2px solid #B8FFEC;
        border-radius: 6px;
        background-color: #FFFFFF;
        transition-delay: 0.15s;  
    }

    .description {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .block1 {
        max-width: 80%;
    }
    
    .block2 {
        min-width: 532px;
        min-height: 307px;
        margin-right: 29px; 
        margin-bottom: 49px;
    }
}