.swiper-container {
    min-width: 330px;
    max-width: 668px;
}

.swiper-slide {
    opacity: 0.5;
    transition: 0.5s;
}

.swiper-slide-active {
    opacity: 1;
    transition: 0.5s;
}

.swiper-pagination {
    position: relative;
    height: 44px;
    top: 16px;
    margin-left: -24px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: #DDDDDD;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #B5B6BC;
}





/* .swiper-button-next,
.swiper-button-prev {
    background-color: #DDD;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 0px #DDD;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 16px 16px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
} */

